{% extends "DonMacKiosk/StartingPage.html" %}
{% load static %}

{% block title %}Order Type{% endblock %}

{% block content %}
<div class="bg-black w-full min-h-screen flex flex-col justify-between cursor-default">

  <div class="flex flex-row justify-center items-center px-14 pt-20 mt-20 ">
    <div class="flex flex-col justify-center">
      <img src="{% static 'myprojects/images/logodonmachos.png' %}" class="w-[400px]">
      <p class="text-xl uppercase tracking-widest mb-2 text-white">
        WELCOME TO DON MACHOS
      </p>
      <h1 class="text-7xl font-bold leading-tight mb-6 text-white">
        Your Cup of<br>Happiness
      </h1>
      <p class="text-2xl uppercase tracking-wide mb-8 text-white">
        THE PERFECT CUP. THE PERFECT VIBE.<br>
        COME EXPERIENCE THE DON MACHOS COMMUNITY.
      </p>
    </div>

    <div class="flex justify-end -translate-y-10">
      <img src="{% static 'myprojects/images/Cupwithhand.png' %}" class="w-[500px] h-fit">
    </div>
  </div>

  <div class="flex flex-col justify-center items-center w-full bg-white text-black py-20">
    <p class="text-5xl font-bold uppercase mb-8 pb-12 tracking-normal">
      SELECT TO START YOUR ORDER
    </p>

    <div class="flex flex-row gap-[100px]">
      <a href="{% url 'myprojects:dinein' %}">
        <button class="bg-black text-white px-28 py-20 rounded-2xl font-bold text-6xl">
          DINE IN
        </button>
      </a>

      <a href="{% url 'myprojects:takeout' %}">
        <button class="bg-black text-white px-16 py-20 rounded-2xl font-bold text-6xl">
          TAKE OUT
        </button>
      </a>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
<!-- override to REMOVE the “tap anywhere redirects” on this page -->
{% endblock %}